@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    
}
body {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    background-color: rgba(133, 200, 255, 0);

}
 p {
    font-size: 25px;
}

h1,h2 { 
     
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;   
}

#logo {
    font-size: 500%;
    text-align: center;
    margin: 50px auto 50px;  
    letter-spacing: 20px;    
}   
header a {
    text-decoration: none;
}
     
#menu {
    
    width: 900px;
    overflow:hidden;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.7rem; 
    font-weight: bolder;
}

#menu li{
    display: inline-block;
    padding: 20px;
    
}

ul{
  list-style-type: none;
  overflow: auto;
  
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
}
    
#menu a:hover {
   
    background: #ff022c27;
    border-bottom : 2px solid rgba(20,0,0,0.5);
    border-radius : 5px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
}
    
.active {
    border-bottom : 2px solid rgba(20,0,0,0.5);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
    border-radius : 5px;
}

#kyoto-image {
    background: url(../images/Kiyozumi-Dera.jpg) no-repeat center center;
    background-size: cover;
    height: 750px;
    width: auto;
    padding: 100px;
    position: relative;
    margin-bottom: 35px;

    animation-name: image-zoom;
    animation-duration: 3s;
    animation-fill-mode: backwards;
}

@keyframes image-zoom {
    from {
transform: scale(1.08);
    }
    to{
        transform: scale(1);
    }
}

#image-text-1 {
    position: absolute;
    letter-spacing: 5px;
    color:black;
    font-size: 70px;
    font-weight: 100;
    left: 70px;
    top: 350px;
    transition: 1s ease-in-out;
  }
  #image-text-1:hover {
    transform: translate(50px);

  }
  #image-text-2 {  
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    left: 130px;
    top: 455px;
    transition: 1s ease-in-out;
  }
  #image-text-2:hover {
    transform: translate(-50px);
  }



  #introduction {
      height: 100%;
  }
  #city-about {
      
      margin:100px 150px; 
      text-align: center;
      font-size: large;
      line-height: 1.5;

  }
  #city-about span {
      color: black;
  }
  #cruise {
      background: url(../images/cruiseky.jpg) no-repeat center center;
      background-size:cover;
      height: 450px;
      width: 73%;
      padding: 100px;
      position: relative;
      margin: 0 auto 50px auto;      
      border: 3px solid #ff7990;
       
  }

  #mid-section {
   height: auto;  
 }

 #getting-around {   
    margin: 100px;
    text-align: center;
    font-size: large;
    line-height: 1.8; 
 }
  #subway {   
   float: right; 
   padding-left: 50px;
   margin-right: 100px;
   margin-top: 60px;
   border-radius: 5px;
  }

  #customs { 
    margin: 100px;
    text-align: center;
    font-size: large;
    line-height: 1.8; 
  }

#bow {
   float: left;
   margin-left: 100px;
   margin-top: 60px;
   border-radius: 5px;
  padding-right: 30px;
}

#video-section  {
    text-align: center;
    background-image: linear-gradient(to right, #c048484f, #d12ba865, #002fff44);
    padding: 30px;
    border: 1px solid grey;
}

#video-heading {
    font-size: 40px;
    margin-left: 70px;
    margin-bottom: 30px;
    letter-spacing: 4px;
}

div > iframe {
    border-radius: 10px;
}

#facts {
    height: 1100px;
    margin-top: 70px;

}

#fact-heading {
    font-size: 40px;
    padding: 60px;
    margin: 25px auto;
    width: 70%;
    text-align: center;
    letter-spacing: 4px;
    font-weight: bolder;
    border-bottom: 1px solid black;
    
}


#left-about { 
    background-color: rgba(4, 0, 255, 0.089);
    padding: 30px 120px;
    margin: 25px auto;
    width: 40%;
    text-align: center;
    display: block;
}

#right-about {
    padding: 30px 120px;
    margin: 25px auto;
    width: 40%;
    text-align: center;
    display: block;  
    background-color: rgba(255, 166, 0, 0.267);
    
}
#center-about {
    padding: 30px 120px;
    margin: 25px auto;
    width: 40%;
    text-align: center;
    display: block;  
    background-color: rgba(255, 255, 0, 0.295);
    
} 
#newsletter {
    height: 400px;
    background-color: rgb(53, 36, 160);
}
.wrapper {
    padding: 100px;
    margin: 100px 10px;
    color: rgb(53, 114, 210);
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.box {
    box-shadow: 0px 0px 10px #afc0d9;
    background-color: #fff;
    padding: 35px;
    border-radius: .25rem;
    text-align: center;
}


input {
    border: 1px solid rgb(220, 219, 235);
    border-radius: 4px;
    font-size: 13px;
    padding: 20px;
    color: #000;
    transition: all .15s ease-in;
}

input[type=email] {
    width: 60%;
}

input[type=submit] {
    background-color: rgb(53, 114, 210);
    color: #fff;
    font-weight: bold;
    border: 1px solid transparent;
}

input[type=submit]::focus {
    border: 1px solid #fff;
}

input:focus {
    border-color: rgb(53, 114, 210);
    box-shadow: 0px 0px 8px 2px rgba(53, 114, 210, .5);
    outline: none;
}

input::placeholder {
    color: #999;
}

#subscribe-result p {
    margin-top: 35px;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline-block;
   
    
}

.social-networks i{
    font-size: 70px;
    margin: 40px;
    padding: 50px;
    color: rgba(1, 1, 48, 0.897);
    width: 100px;
    
}

@media screen and (max-width: 1300px) and (min-width: 951px){
    #introduction {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    #kyoto-image {
        width: 85%;
    }
    #city-about {  
    }
    #cruise {
        width: 140%;
        padding: 100px 0 ;
        left: -130px;
        
    }
    
    #getting-around {
        
        padding: 50px;
        margin-top: 600px;
        padding: 50px ;
    }
    #subway {
        width: 60%;
        padding-right: 180px;
        padding-bottom: 50px;

    }

    #customs {
        padding: 20px;
        margin-top: 600px;
        margin-left: 150px;
    }
    #bow {
        width: 60%;
        padding: 50px 0 10px 140px ;
        left: 120px;
    }

    .right-left-headings h1 {
        padding-bottom: 20px;
    }

    #video-section { 
        margin: 120px 120px 120px 80px;
    }

    iframe {
        width: 70%;
    }


 
    .social-networks {
        display:inline-block;
        
        
    }
    .social-networks i{
        font-size: 70px;
        margin: 40px;
        padding: 50px;
        
        width: 50px;
        
        
    }
}


@media only screen and (max-width: 950px) and (min-width: 601px) {
   
 #menu li{
       
        float: left;
        padding: 10px;
        margin: 6px;
      
    }

    #kyoto-image {
        width: 80%;
        
    }
    #image-text-1 {
        left: 50px;
        top: 350px;
    }
    #image-text-2 {
        left: 50px;
        top: 460px;
    }
    #city-about {
        
        position: relative;
        left: -70px;
        width:140%;
    }
    #getting-around { 
        padding: 400px 0 0 0;
        position: relative;
        left: -40px;
        width:90%;
    }

    #cruise {
        float: left;
        margin-left: 50px;
    }

    #subway {
        
        width: 60%;
        position: relative;
        left: 150px;
        
    }
    #customs {
        
        position: relative;
        right: 90px ;
        width:90%;
    }
    
    #bow {
        width: 60%;
        position: relative;
        left: 0;
    }

    #video-section {
        width: 100%;
        position: relative;
        left: -60px;
        padding-bottom: 50px;
    }
    iframe {
        width: 100%;
    }

    #left-about {
       float: left;
       position: relative;
       left:-80px;
       padding: 30px;
    }
    #right-about {
        float: right;
        position: relative;
        right: -50px;
        padding: 30px;
        
    }
    #center-about {
        position: relative;
        right: 80px;
        bottom: 450px;
        padding: 55px 20px;
    }
    #newsletter {
        width:100%;
        height:400px;
        
        
        
    }

    .social-networks {
        justify-content: center;
        overflow: hidden;
        
    }
    .social-networks i{
        font-size: 70px;
        display:flexbox;
         width: 50px;
         margin: 10px;
        
    }
}
@media only screen and (max-width: 600px) and (min-width: 300px) {
        #logo {
            font-size: 240%;
            text-align:center;
            position: relative;
            left: 350px;
            letter-spacing: 10px;  

        }  
        
        #menu {
    
            width: 650px;
            overflow:hidden;
            
            text-align: center;
            position: relative;
            left: 260px;
            
            font-size: 1.4rem; 
           
        }
        
        #menu li{
            display: inline-block;
            padding: 5px;
        }
    
        #kyoto-image {
            width: 200%;
            
        }
        #image-text-1 {
            font-size: 3.5rem; 
            left: 50px;
            top: 350px;
        }
        #image-text-2 {
            font-size: 1.5rem;
            left: 50px;
            top: 460px;
        }
    
        #city-about {
            width: 300%;
            position: relative;
            left: 60px;
        }
        
        #cruise {
            width: 300%;
            position: relative;
            left:0.3px;
        }
        
        #subway {
            width: 150%;
            position: relative;
            left:750px;
            
        }
        #getting-around { 
            width: 200%;
            position: relative;
            left: 25px;
        }

        #customs {
            width: 200%;
            position: relative;
            left: 25px;
        }
        
        #bow {
            width: 150%;
            position: relative;
            left:95px;
        }
    
        #video-section {
            width: 200%;
            height: auto;
            position: relative;
            left:10px;
        }
        iframe {
            width: 100%;
        }
        #facts {
            width: 200%;
            height: 8em;
        }
        #left-about {
           float: left;
           position: relative;
           
           width: 30%;
           padding: 40px 40px 70px 40px;
        }
        #right-about {
            
            position: relative;
            left: 20px;
            padding: 40px 40px 70px 40px;
            
        }
        #center-about {
            
            position: relative;
            bottom: 400px;
            right: -10px;
            padding: 40px 25px 100px 25px;
        }
        #newsletter {
            width: 225%;
            height: 300px;
            margin: 550px 0 100px 0px;
            padding: 40px;
            
        }
        #newsletter h2 {
            
            line-height: 2;
            font-size: 2rem;
            text-align: center;
          }
        #newsletter form span {
            line-height: 1;
            font-size: 1.5rem;
            padding-left: 20px;
        }
            
        
        #newsletter input[type="email"] {
            color: black;
            font-size: 1.5rem;
            background:#ffffff;
            font-weight: 600;
            padding: 10px 20px;
            
          }	
        
        
          #newsletter input[type="submit"] { 
            padding: 20px 40px;
            
        }
        .social-networks {
            display: inline-block;
            
        }
        .social-networks i{
            font-size: 70px;
            margin: 38px;
            padding: 17px;
            width: 10px;
            
        }

    }