@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }
   
   body {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    background-color: rgba(229, 226, 226, 0.849);
}
   h1, h2 { 
     
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
    text-align: center;   
    padding-top: 20px;
    font-size: x-large;

}
#photos h2, p {
  font-size: xx-large;
  text-align: center;
  line-height: 1.2;
}
p span {
  text-decoration: 1px overline;
}


#logo {
    font-size: 500%;
    text-align: center;
    margin: 50px auto 50px;
    letter-spacing: 20px;      
}   
header a {
    text-decoration: none;
}
     
#menu {
    
  width: 900px;
  overflow: auto;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.7rem; 
  font-weight: bolder;
  padding-bottom: 100px;
}

#menu li{
  display: inline-block;
  padding: 20px;
  
}

#menu ul{
list-style-type: none;
overflow: auto;

}

#menu a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}
  
#menu a:hover {
 
  background: #ff022c27;
  border-bottom : 2px solid rgba(20,0,0,0.5);
  border-radius : 5px;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
}
  
.active {
  border-bottom : 2px solid rgba(20,0,0,0.5);
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
  border-radius : 5px;
}
   

#photos{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
   }
   
.gallery{
    width: 100%;
    margin: 0 auto;   
    display: flex;
    flex-wrap: wrap;
   }
   
.image{
    width: 45%;
    border: 1.5px solid #ccc;
    padding: 10px;
    margin: 10% 1.5%;
    flex-grow: 1;
    background-color: #ecf0f1;
   }
   
.image img{
    max-width: 100%;
    margin: 0 auto;
   }
   
.image:hover{
    box-shadow: 0 1px 30px rgba(0,0,0,.3);
    transform: scale(1.05);
    border: none;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    z-index: 1;
   }
   
  
 #photos section h2 {
  margin-left: 50px;
  font-size: xx-large;

}

#photos section p {
  font-size: x-large;
}
hr {
  border-top: 1px solid grey;
  width: 100%;
  margin: 5px 0;
}

.gallery-image {
   width: 300px;
}

table {
  padding-bottom: 30px;
}

#places {
  height: 1000px;
}

.six-places {
  width: 640px;
}

td p {
 width: 300px;
}

.placeholder {
  width: 300px ;
  height: 1px ;
}

#left-places {
  float: left;
  width: 45%;
}
#left-places h2 {
  font-size: 2rem;
}
#left-places p {
  font-size: 1.5rem;
}

#right-places {
  float: right;
  width: 45%;
}
#right-places h2 {
  font-size: 2rem;
}
#right-places p {
  font-size: 1.5rem;
}


#contact {
  margin: 50px auto;
  padding: 50px ;
  max-width: 420px;
  background-color: rgba(1, 1, 48, 0.897);
  border-radius: 10px;

}
#contact h2 {
  color: wheat;
}

.feedback-input {
  color: black;
  background-color: white;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bolder;
  font-size: 25px;
  border-radius: 5px;
  line-height: 30px;
  border: 2px solid yellow;
  transition: all 0.3s;
  padding: 10px;
  margin: 20px auto;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  
}

.feedback-input:focus { 
  border: 2px solid #CC4949;
  
 }

 #contact textarea {
  height: 200px;
  line-height: 100%;
  resize: vertical;
  
}

#contact [type="submit"] {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background:#ffffff;
  font-weight: 600;
  display: block;
  margin-top: 12px;
  padding: 8px 22px 8px;
  border: 5px solid;
  border-radius: 10px;
  margin: 15px auto;
}

#contact [type="submit"]:hover { 
  background:#CC4949; 
}


#newsletter {
  height: 500px;
  font-size: 2rem;
  background-color: rgba(1, 1, 48, 0.897);
  margin: 50px auto;
  line-height: 100px;
  text-align: center;
  padding: 70px;
  border: 1px solid beige;
}
#newsletter h2 {
  margin-bottom: 30px;
  color: wheat;
  font-size: 2.5rem;
  text-align: center;
}
#newsletter form span {
  color: wheat;
  font-size: 1.8rem;
  padding-left: 10px;
}
  

#newsletter input[type="text"] {
  color: black;
  font-size: 1.5rem;
  background:#ffffff;
  font-weight: 600;
  padding: 20px 40px;
  border: 5px solid black;   
  border-radius: 10px;
}	


#newsletter input[type="submit"] {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background:#ffffff;
  font-weight: 600;
  display: block;
  padding: 20px 50px;
  border: 5px solid black;
  border-radius: 10px;
  margin: 0 0 0 45% ;
}

#newsletter [type="submit"]:hover { 
  background:#CC4949;
}


.social-networks{
  text-align: center;

}

.social-networks li{
  display: inline-block;
 
  
}

.social-networks i{
  font-size: 70px;
  margin: 50px;
  padding: 50px;
  color: rgba(1, 1, 48, 0.897);
  width: 100px;
  
}
@media screen and (max-width: 1200px) {
  #places {
    height: 200%;
   
    
  }
  #right-places, #left-places {

    float: left;
    width: 80%;
    
  }
  #newsletter {
    width: 100%;
    float: left;
    margin: 600px auto;
}
.social-networks {
    display: inline-block;
    margin: 100px auto;
    width: 90%; 
}
}

@media screen and (max-width: 900px) {
  
  #menu li{
       
    clear: left;
    float: left;
    margin-bottom: 5px;
    line-height: 25px;
}

#right-places, #left-places {

  float: left;
  width: 80%;
  margin-bottom: 100px;
  
}
  
  #newsletter {
    clear: left;
    width: 100%;
    height: 700px;
    margin: 100px auto;
}
}