


@media screen and (max-width: 1500px) {
   

   #left-places {
    float: left;
    margin: 100px 10px;
    
    
  }
  #right-places {
    float: right;
    margin: 65px 10px 0px 1px;
    padding-left: 30px;
  }
  
}

@media screen and (max-width: 1200px) {
  #places {
    
    padding: 50px;
   
  }
   #left-places {
    float: left;
    margin: 100px 10px;
    
    
  }
  #right-places {
    float: left;
    margin: -50px 100px 10px -10px;
  }
  
}

@media screen and (max-width: 900px) and (min-width: 601px){
  

#right-places, #left-places {

  float: left;
  width: 80%;
  margin-bottom: 100px;
  
}
}
@media screen and (max-width: 600px) {
  
      
  #places {
    padding: 10px;
  }
  
  .six-places {
    width: 10px;
  
  }

  
  td p {
   width: 200px;
  }
  
  .placeholder {
    width: 200px ;
    height: 1px ;
    
  }
  
  #right-places {
    float: left;
    
   
  }
  #right-places h2 {
    font-size: 2rem;
    
  }
  #right-places p {
    font-size: 1.5rem;
    
  }
  .gallery-image {
    width: 270px;
    padding-bottom: 40px;
  }
  
  #contact {
    position: relative;
    left: 320px;
    
    
  
  }
  
  
  .feedback-input {
    color: black;
    background-color: white;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 5px;
    line-height: 30px;
   
    transition: all 0.3s;
    padding: 10px;
    margin: 20px auto;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    
  }
  

  
   #contact textarea {
    height: 200px;
    line-height: 100%;
    resize: vertical;
    
  }
  
  #contact [type="submit"] {
    
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background:#ffffff;
    font-weight: 600;
    display: block;
    margin-top: 12px;
    padding: 8px 22px 8px;
    border: 5px solid;
    border-radius: 10px;
    margin: 15px auto;
  }
  
  }
