@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
   }
   
   body {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    background-color: rgba(229, 226, 226, 0.849);
}
   h1,h2 { 
     
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;   
}
section#photos p {
  font-size: 40px;
  text-align: center;
}


#logo {
    font-size: 500%;
    text-align: center;
    margin: 50px auto 50px;      
}   
header a {
    text-decoration: none;
}
     
#menu {
    
    width: 900px;
    overflow: auto;
    margin-left: 430px;
    margin-bottom: 150px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem; 
}

#menu li{
    display: inline-block;
    padding: 20px;
    
}

ul{
  list-style-type: none;
  overflow: auto;
}

#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
   
    text-shadow : 0px 0px 10px #ff7990;
    border-bottom : 2px solid rgba(20,0,0,0.5);
    border-radius : 5px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
    padding: 10px;
}
.active {
    border-bottom : 2px solid rgba(20,0,0,0.5);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
    border-radius : 5px;
    padding: 10px;
}
   
   #photos{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
   }
   
   .gallery{
    width: 100%;
    margin: 0 auto;
    padding: 10vh 5vh;
    display: flex;
    flex-wrap: wrap;
   }
   
   .image{
    width: 40%;
    border: 1.5px solid #ccc;
    padding: 10px;
    margin: 10% 1.5%;
    flex-grow: 1;
    background-color: #ecf0f1;
   }
   
   .image img{
    max-width: 100%;
    margin: 0 auto;
   }
   
   .image:hover{
    box-shadow: 0 1px 30px rgba(0,0,0,.3);
    transform: scale(1.10);
    border: none;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    z-index: 1;
   }
   
   .image p{
    padding: 10px;
    font-size: large;
    text-align: center;
   }
  
#newsletter-heading {
    margin-bottom: 30px;
}
form {
    background-color: #ff7b0044;
    margin-top: 150px;
    line-height:20px;
    text-align: center;
    padding: 50px;
    border: 1px solid black;

}
input[type="text"] {
    font-size: 20px;
    text-transform: uppercase;
    background:#ffffff;
    font-weight: 600;
    padding: 8px 22px 8px;
    border: 1px solid;
    margin: 8px;
    border-radius: 10px;
  }	
  input[type="password"] {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 22px 8px;
    border: 1px solid;
    margin: 8px;
    border-radius: 10px;
  }	
input[type="submit"] {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background:#ffffff;
    font-weight: 600;
    display: block;
    margin-top: 12px;
    padding: 8px 22px 8px;
    border: 5px solid;
    margin: 15px auto;
}


section h2 {
  margin-left: 50px;
}
hr {
  border-top: 1px solid grey;
  width: 100%;
  margin: 5px 0;
}

table {
  padding-bottom: 30px;
}

#places {
  height: 900px;
}
#left-places {
  float: left;

}

#right-places {
  float: right;

}